@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




html {
    font-size: rem(16px);
    scroll-behavior: smooth;
}

body {
    font-family: $sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: rem(16px);
    color: $color-text;
}

a,
a:hover {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans-serif;
    color: $color-heading;
    text-transform: capitalize;
    letter-spacing: 0px;
    line-height: 1.4;
    display: block;
    margin: 0;
}

h1 {
    font-size: rem(36px);
    font-weight: 600;
    font-family: $sans-serif-Merriweather;

    @include breakpoint(x-large) {
        font-size: rem(35px);
    }

    @include breakpoint(desktop) {
        font-size: rem(30px);
    }

}

h2,
.h2 {
    font-size: rem(40px);
    font-weight: 500;
    margin: 0 0;

    @include breakpoint(x-large) {
        font-size: rem(30px);
    }

    @include breakpoint(desktop) {
        font-size: rem(28px);
    }

    @include breakpoint(ipad) {
        font-size: rem(26px);
    }

    @include breakpoint(mobile) {
        font-size: rem(22px);
    }
}

h3,
.h3 {
    font-size: rem(30px);
    margin: 0 0;
    font-family: $sans-serif-Merriweather;
    font-weight: 600;

    @include breakpoint(desktop) {
        font-size: rem(27px);
    }
}

h4,
.h4 {
    font-size: rem(26px);
    font-weight: 700;
    margin: 0 0;

    @include breakpoint(x-large) {
        font-size: rem(24px);
    }

    @include breakpoint(normal) {
        font-size: rem(20px);
    }

    @include breakpoint(mobile) {
        font-size: rem(18px);
    }

    a {
        color: $color-heading;

        &:hover {
            color: $color-heading;
            text-decoration: underline;
        }
    }
}

h5 {
    font-size: rem(22px);
}

h6 {
    font-size: rem(20px);
    font-weight: 500;

    @include breakpoint(x-large) {
        font-size: rem(18px);
    }

    @include breakpoint(ipad) {
        font-size: rem(16px);
    }
}

p {
    font-size: rem(18px);
    font-weight: 400;
    font-family: $sans-serif;
    line-height: 1.65;
    margin-bottom: 0;
    color: $color-text;

    @include breakpoint(x-large) {
        font-size: rem(16px);
    }

    @include breakpoint(ipad) {
        font-size: rem(14px);
    }

    strong {
        font-family: $sans-serif;
        font-weight: 700;
    }

    a {
        color: $color-primary;

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }
}